<h1>Hello, {{ title }}</h1>

<!-- Mostrar información del usuario si está autenticado -->
<div *ngIf="auth.user | async as user; else login" class="loginDiv">
  {{ user.uid }} - {{ user.email }}
  <br>
  <button (click)="auth.logout()">Logout</button>
</div>

<!-- Mostrar el botón de login si no hay un usuario autenticado -->
<ng-template #login>
  <div class="loginDiv">

    <form class="form">
    <input type="text" name="email"
    placeholder="Escribe tu Email...."
    [(ngModel)]="auth.email"
    />

    <br>
    <br>

    <input type="password" name="pass"
    placeholder="Escribe tu Contraseña...."
    [(ngModel)]="auth.pass"
    />

    <br><br>
    <button (click)="auth.login()">Email Login</button>
    <br><br>

    <button (click)="auth.glogin()">Google Login</button>
  </form>
  </div>
</ng-template>

