<h1>Hello, {{ title }}</h1>

<!-- Mostrar información del usuario si está autenticado -->
<nav *ngIf="auth.user | async as user; else login" 
  class="navbar navbar-expand-lg navbar-light bg-light">
  
  <a class="navbar-brand" routerLink="/">LOGO</a>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="/" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a routerLink="settings" class="nav-link">Settings</a>
      </li>
      <li class="nav-item">
        <a routerLink="users" class="nav-link">Users</a>
      </li>
    </ul>
  </div>
  
  <div class="userDiv">
    {{ user.email }}
    <button (click)="auth.logout()">
      <i class="bi bi-person-fill-x"></i>
    </button>
  </div>
</nav>


<!-- Mostrar el botón de login si no hay un usuario autenticado -->
<ng-template #login>
  <div class="loginDiv">

    <form class="form">
    <input type="text" name="email"
    placeholder="Escribe tu Email...."
    [(ngModel)]="auth.email"
    />

    <br>
    <br>

    <input type="password" name="pass"
    placeholder="Escribe tu Contraseña...."
    [(ngModel)]="auth.pass"
    />

    <br><br>
    <button (click)="auth.login()">Email Login</button>
    <br><br>

    <button (click)="auth.glogin()">Google Login</button>
  </form>
  </div>
</ng-template>

<router-outlet *ngIf="auth.user | async as user"></router-outlet>
