<h1>HOLA MUNDO, Como estas tu? Estoy en: {{city.toUpperCase()}} {{1+1}}</h1>

<app-user></app-user>
<div>
    <h1>Que te parece Angular?</h1>
    <article>
        <p>
            Angular es un framework de desarrollo web robusto y completo mantenido por Google, diseñado para construir 
            aplicaciones de una sola página (SPA) y aplicaciones web complejas. Ofrece una arquitectura basada en componentes, 
            una potente herramienta de vinculación de datos bidireccional, y una integración fluida con servicios RESTful y otros 
            recursos de backend. Su sistema de módulos, junto con herramientas como el CLI de Angular, facilita la organización del 
            código y el desarrollo de aplicaciones escalables. A pesar de su curva de aprendizaje inicial, 
            es valorado por su extensibilidad, rendimiento y la sólida comunidad que lo respalda.
        </p>
        <p>
            Angular es un framework de desarrollo web robusto y completo mantenido por Google, diseñado para construir 
            aplicaciones de una sola página (SPA) y aplicaciones web complejas. Ofrece una arquitectura basada en componentes, 
            una potente herramienta de vinculación de datos bidireccional, y una integración fluida con servicios RESTful y otros 
            recursos de backend. Su sistema de módulos, junto con herramientas como el CLI de Angular, facilita la organización del 
            código y el desarrollo de aplicaciones escalables. A pesar de su curva de aprendizaje inicial, 
            es valorado por su extensibilidad, rendimiento y la sólida comunidad que lo respalda.
        </p>
        <p>
            Angular es un framework de desarrollo web robusto y completo mantenido por Google, diseñado para construir 
            aplicaciones de una sola página (SPA) y aplicaciones web complejas. Ofrece una arquitectura basada en componentes, 
            una potente herramienta de vinculación de datos bidireccional, y una integración fluida con servicios RESTful y otros 
            recursos de backend. Su sistema de módulos, junto con herramientas como el CLI de Angular, facilita la organización del 
            código y el desarrollo de aplicaciones escalables. A pesar de su curva de aprendizaje inicial, 
            es valorado por su extensibilidad, rendimiento y la sólida comunidad que lo respalda.
        </p>
    </article>
</div>

<!-- <router-outlet /> -->
